<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
    </head>
    <body>
        <div class="container">
            <h1>Lista de Responsables</h1>
            <a class="btn btn-primary mt-4 mb-4" th:href="@{/nuevo/new}">Nuevo Responsable</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="responsable, info : ${listaResponsables}">
                        <td th:text="${info.index + 1}"></td>
                        <td th:text="${responsable.nombre}"></td>

                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>