<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Detalles Mascotas TeleVet</title>
</head>
<body>
<div class="container">
    <h1>Detalles de Mascotas en TeleVet</h1>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Nombre Mascota</th>
            <th>Año Nacimiento</th>
            <th>Hora Inicio</th>
            <th>Duracion (minutos)</th>
            <th>Entrega</th>
            <th>Responsable</th>
            <th>Servicio</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="servicio, info : ${listaServicios}">
            <td th:text="${info.index + 1}"></td>
            <td th:text="${servicio.mascotaIdmascota.getNombre()}"></td>
            <td th:text="${servicio.mascotaIdmascota.getAnho()}"></td>
            <td th:text="${servicio.horaInicio}"></td>
            <td th:text="${servicio.duracion}"></td>
            <td th:text="${servicio.entrega}"></td>
            <td th:text="${servicio.responsableIdresponsable.getNombre()}"></td>
            <td th:text="${servicio.getOpcionServicio().get(0).getIdopcion().getDescripcion()}"></td>

        </tr>
        </tbody>
    </table>
    <a th:href="@{/mascota}" class="btn btn-danger">Cancelar</a>
</div>
</body>
</html>